<!-- footer.component.html -->
<footer class="footer">
  <div class="container">
    <p><span class="copyright"> &copy;Zephora </span>All rights reserved.</p>

    <!-- Social Media Icons -->
    <div class="social-icons">
      <a href="https://facebook.com" target="_blank" class="social-icon">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="https://twitter.com" target="_blank" class="social-icon">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="https://linkedin.com" target="_blank" class="social-icon">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="https://instagram.com" target="_blank" class="social-icon">
        <i class="fa fa-instagram"></i>
      </a>
    </div>
  </div>
</footer>
