<div
  class="about-container"
  style="background-image: url('/assets/img/about.jpg')"
>
  <div class="about-card">
    <section class="mb-8">
      <h2 class="text-3xl font-bold text-center mb-4">
        Welcome to <span class="salon">ZEPHORA</span>
      </h2>
      <p class="text-custom">
        At <span class="salon-small">ZEPHORA</span>, we believe that every visit
        should be a rejuvenating experience. Our talented team of stylists,
        beauticians, and therapists are dedicated to bringing out your inner
        glow through personalized beauty services and high-quality treatments.
      </p>
    </section>
    <section class="mb-8">
      <p class="text-custom">
        Our mission is simple: to provide every client with an unforgettable
        beauty experience, tailored to their unique needs. We are committed to
        using the finest products, the latest techniques, and creating a
        relaxing atmosphere to ensure that you leave feeling refreshed and
        beautiful.
      </p>
    </section>

    <section class="text-center">
      <p class="text-lg text-gray-700 mb-2">
        Ready for your next beauty experience? Book an appointment with us today
        and let us help you look and feel your absolute best.
      </p>

      <button (click)="toBook()" class="book-btn">Book Now</button>
    </section>
  </div>
</div>
