.heading
{
    margin-top: 10px;
    background-color:white;
    color:  #A87676;
    font-size: 2rem;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.error-message {
    color:black; ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 12px;
    font-size: 1.5rem;
    border-radius: 8px;
    margin-bottom: 1px;
    text-align: center;
  }