

.salon {

    color:#B76E79;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 2rem

    }

.salon-small {
    color: #B76E79;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 1rem
}

.h3-custom {
    font-size: 1.5rem; 
    font-weight: 600; 
    color: #2d3748; 
    margin-bottom: 1rem; 
}

.truncated {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Show only 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .expanded {
    -webkit-line-clamp: unset;
    overflow: visible;
  }