.book-btn
{
    display: inline-block;
    margin-top: 30px;
    padding: 7px 10px;
    background-color: #F5E2D6; /* Pink */
    color: #B76E79;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
    border: 2px solid #B76E79;
    font-weight: 500;
}
.book-btn:hover
{
    background-color: #B76E79;
        color: white;
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.salon {

    color:#B76E79;
    font-family: Luxurious Roman, serif;
    font-weight: bold;
    font-size: 2rem

    }

.salon-small {
    color: #B76E79;
    font-family: Luxurious Roman, serif;
    font-weight: bold;
    font-size: 1rem
}

.h3-custom {
    font-family: Luxurious Roman, serif;
    font-size: 1.5rem; 
    font-weight: 600; 
    color: #2d3748; 
    margin-bottom: 1rem; 
}

.truncated {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Show only 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .expanded {
    -webkit-line-clamp: unset;
    overflow: visible;
  }
  .text-custom {
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
    color: #374151; /* Gray 700 */
  }
  
  .heading-text {
    font-family:Luxurious Roman, serif;
    font-size: 1.5rem; /* Equivalent to text-2xl */
    font-weight: 600; /* Equivalent to font-semibold */
    color: #1f2937; /* Equivalent to text-gray-800 */
    margin-bottom: 0.75rem; /* Equivalent to mb-3 */
}

.read
{
    border-radius: 8px;
    background-color:rosybrown;
}
.main-container
{
    background-color: rosybrown;
}
.service-con
{
    
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}