body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fef2f2;
}

.book {
    width: 70%;
    max-width: 500px;
    margin: 2rem auto; /* Increased top margin */
    height: auto;
    padding: 1.5rem; /* Increased padding */
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.h4-head {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 24px;
    color: #2c3e50;
}

.form-group {
    margin-bottom: 1rem; /* Increased spacing between inputs */
}

label {
    font-size: 0.8rem; /* Slightly bigger label font size */
    color: #A87676;
    padding:1px;
    margin-top: 1px;
}

input,
select,
textarea {
    padding: 7px; /* Increased padding */
    font-size: 0.8rem; /* Increased font size */
    width: 100%;
    height:30px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    
    transition: 0.3s ease-in-out;
}

    input:focus,
    select:focus,
    textarea:focus {
        border-color: #A87676; 
        box-shadow: 0 0 5px rgba(168, 118, 118, 0.5);
    }

.button-app {
    width: 100%;
    padding: 5px; /* Increased button padding */
    background-color: #A87676;
    color: #fff;
    border: none;
    width: 100%;
    margin-top:10px;
    margin-bottom:20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition:  0.3s ease-in-out;
}

    .button-app:hover {
        background-color: #a66e6e; /* Darker shade on hover */
    }

    .button-app:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }

.text-red-500 {
    color: #e74c3c;
    font-size: 0.875rem;
    text-align: center;
}
