#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Main content wrapper */
.main-content {
    flex: 1 0 auto;
}

/* Footer styles */
.footer {
/*    flex-shrink: 0;*/
    background-color: #F5E2D6;
    width: 100%;
    margin-top: auto;
}

.footer-content {
    max-width: 300px;
    height:50%;
    text-align: center;
}

.copyright {
 
    color:#B76E79;       
    font-Family: Poppins, sans-serif;
    font-Weight: bold;
    font-Size: 1.8rem
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

    .social-icons a {
        color: #6a0572;
        font-size: 24px;
        transition: color 0.3s ease-in-out;
    }

        .social-icons a:hover {
            color: #ff5c8a;
        }
