#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Main content wrapper */
.main-content {
    flex: 1 0 auto;
}

/* Footer styles */
.footer {
/*    flex-shrink: 0;*/
    background-color: #F5E2D6;
    width: 100%;
    padding:5px;
    margin-top: auto;
}
span{
    font-size:0.8rem
}
.footer-content {
    max-width: 300px;
    padding:10px;
    height:50%;
    text-align: center;
}

.copyright {
    color: #B76E79;
    font-Family: Luxurious Roman, serif;
    font-Weight: bold;
    font-Size: 1.5rem
}

.social-icons {
    display: flex;
    justify-content: center;
    margin :auto;
    gap: 10px;
   
}

    .social-icons a {
        color: #795757;
        font-size: 24px;
        transition: color 0.3s ease-in-out;
    }

        .social-icons a:hover {
            color: #B76E79;
        }
