
.navbar{
    padding:2px
}
nav .container-fluid
{
    justify-items: center;
}
/* Navbar Links */
.navbar-brand {
    color: #B76E79;
        font-family:Luxurious Roman, serif;
        font-weight: bold;
        font-size: 1.8rem
}
    .navbar-brand:hover
     {
        color: #B76E79 !important;
        text-shadow: 2px 2px 4px #B76E79;
    }
    .navbar-brand:visited {
        color: #B76E79 !important;
        font-family: Poppins, sans-serif;
        font-weight: bold;
        font-size: 1.6rem
    }

.navbar-nav
{
    display: flex;
     justify-content: space-between;
     align-items: center;
    
     font-weight: 100;
     
}
.navbar-toggler {
    background-color: #B76E79;
    border: none;
}
.navbar-toggler:hover {
    background-color: #B76E79;
    opacity:0.8;
    border: none;
}

.navbar-expand-lg {
    background-color: #F5E2D6
}
.btn-dropdown-toggle {
    color:#B5828C;
    padding: 0.2rem;
    
}
.navbar-collapse
{
    justify-items: center;
}

.btn-login {
    background-color: #A87676;
    color: white;
    border-radius: 8px;
    padding: 8px 16px;
    width: 100px;
    border:none
    
}
    .btn-login:hover {
        background-color: #B5828C;
        opacity:0.8
    }
.dropdown-menu {
    background-color: #F5E2D6;
}
    .dropdown-item:hover {
        background-color: burlywood
    }

 
.menu-card {
    min-width: 250px;
    padding: 1rem;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 0.5rem;
    background-color: #fff
}
.img-user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #B76E79 ;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1)
}
.nav-link {
    color:#B5828C ;
    font-weight: 500;
    margin-right: 20px;
    transition: 0.3s ease;
}

    



.navbar-toggler-icon {
    background-color: #fff;
}

/* User Avatar */

 .img-user:hover {
        transform: scale(1.1);
    }


