.table-container {
    display: flex;
    flex-direction: column;
    min-height: 400px; 
    justify-content: space-between; 
  }
  
  .table-content {
    flex-grow: 1;
    min-height: 300px; 
    overflow-y: auto;}
  
  .pagination-container {
    display: contents;
    justify-content: center;
    margin-top: 2rem;
    padding: 10px 0; 
    color:#B76E79
  }
  
  
  .appointment-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .appointment-table-5 th,
  .appointment-table-5 td {
    width:20%;
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
  }

  .appointment-table th,
  .appointment-table td {
    width:20%;
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  
  .appointment-table-6 th,
  .appointment-table-6 td {
    width:16.6%;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }
 
  .appointment-table th {
    background-color: #A87676;
    color: white;
  }
  
  .appointment-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .action-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: auto;
    cursor: pointer;
    margin-right: 15px;
  }
  
  .action-btn-del {
    background-color: #D9534F;
    color: white;
    border: none;
    padding: auto;
    cursor: pointer;
  }
  
  .tooltip
  {
    background-color: #B76E79;
    color: antiquewhite;
  }

  .no-apps
  {
    margin-top: 40px;;
  }