.input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.container {
    margin:auto;
    background: white;
    border-radius: 16px
}