

.custom-button {
    margin-top: 30px;
    padding: 10px 15px;
    background-color: #F5E2D6;
    color: #B76E79;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
    border: 2px solid #B76E79;
    font-weight: 500;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


    .custom-button:hover {
        background-color: #B76E79;
        color: white;
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }


.button-container {
    display: flex;           
    justify-content: space-between; 
    gap: 10px;                
  }
  
.card-footer-btn {
    width: 70%;
    margin-top: 10px;
    padding: 5px 12px;;
    background-color:#77DD77;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: opacity 0.2s;
}
.card-footer-btn-del {
    width: 70%;
    margin-top: 10px;
    padding: 5px 12px;;
    background-color:indianred;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: opacity 0.2s;
}

    .card-footer-btn:hover {
        transform: scale(1.05);
        background-color:#77DD77;
        opacity:0.9
    }
    .card-footer-btn, .card-footer-btn-del {
        border: none; /* Remove border */
    }
    
/* Loading and Empty State */
.d-flex.justify-content-center.align-items-center.min-vh-100 {
    text-align: center;
}

.d-flex.flex-column.align-items-center.justify-content-center.min-vh-100 {
    text-align: center;
}

/* Error Message */
.text-danger {
    color: #A87676; /* Pink */
    font-size: 1rem;
}

/* Appointment Card */
.card-body .card-text p {
    color: #A87676; 
}

.error
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#A87676;
    font-size: 30px;
}

.custom-toast .Toastify__toast-icon {
    display: none;
  }
  
  