/* Overall container styles */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: white;
    padding:10px;

}

/* Signup card styling */
.signup-card {
   margin-top:90px;
  
    background-color:#F5E2D6;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

/* Title styling */
.signup-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 24px;
    color: #2c3e50;
}

/* Error message styling */
.error-message {
    background-color: indianred;
    color:white ;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: center;
}

/* Success message styling */
.success-message {
    background-color: #d4edda;
    color: #155724;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: center;
}

/* Form styling */
.signup-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Input field styling */
.input-field {
    padding: 6px;
    border: 1px solid #fef2f2;
    border-radius: 8px;
    font-size: 0.7rem;
    width: 100%;
    outline: none;
    transition: 0.3s ease-in-out;
}

    /* Input field focus effect */
    .input-field:focus {
        border-color: #009688;
       
    }

/* Submit button styling */
.submit-btn {
    background-color: #A87676;
    color: white;
    padding: 5px;
    border-radius: 8px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

    .submit-btn:hover {
        background-color: #A87676;
        opacity:0.9
    }

/* Login link styling */
.login-link {
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
    color: #2c3e50;
    margin-bottom:7px;
}

    .login-link .link {
        color: #A87676;
        text-decoration: none;
        font-weight: bold;
    }

        .login-link .link:hover {
            text-decoration: underline;
        }
